//account
.nameUser {
  margin: 0 15px 0 0;
  display: inline-block;
}
.amountMoney {
  background: yellow;
  color: #000;
  display: inline-block;
  padding: 0 10px;
  border-radius: 25px;
  margin-right: 10px;
  i {
    padding: 0 5px;
  }
}
//
//account
.wrapPromoCode {
  margin-left: 10%;
  max-width: 500px;
  width: 100%;
  text-align: center;
  .btnMenu {
    display: inline-block;
    img {
      width: 180px;
    }
  }
  label {
    color: #fff;
  }
  .form-group {
    display: inline-block;
    width: 320px;
  }
  .btnRegistration {
    display: inline-block;
    margin: -15px 0 0;
    img {
      width: 300px;
    }
  }
}
.listData {
  position: absolute;
  display: block;
  left: 107%;
  top: 297px;
  width: 620px;
  li {
    vertical-align: bottom;
    width: 190px;
    color: #fff;
    font: normal 14px/14px 'Exo 2', sans-serif;
    text-transform: uppercase;
    /* margin: 20px 0; */
    display: inline-block;
    p {
      color: yellow;
      font: bold 34px/34px 'Exo 2', sans-serif;
    }
  }
}
//
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
  header {
    //account
    .nameUser {
      margin: 0 15px 0 0;
      display: inline-block;
    }
    .amountMoney {
      background: yellow;
      color: #000;
      display: inline-block;
      padding: 0 10px;
      border-radius: 25px;
      margin-right: 10px;
      i {
        padding: 0 5px;
      }
    }
    //
  }
  //account for
  .img_1 {
    top: -70px;
    left: 130px;
    width: 400px;
  }
  //
  .section_content {
    height: 570px;
    background: #000 url("../images/bg-content.png") no-repeat 50% -118px;
    //account
    .mt {
      margin: 10px;
    }

    .wrapPromoCode {
      margin-left: 20%;
      max-width: 400px;
      width: 100%;
      text-align: center;
      .btnMenu {
        display: inline-block;
        img {
          width: 200px;
        }
      }
      label {
        color: #fff;
      }
      .form-group {
        display: inline-block;
        max-width: 300px;
        width: 100%;
      }
      .btnRegistration {
        display: inline-block;
        margin: -15px 0 0;
        img {
          max-width: 300px;
          width: 100%;
        }
      }
    }
    //
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  // body {
  //   background-color: yellow;
  // }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .finish_action {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    font: bold 22px/22px 'Exo 2', sans-serif;
    span {
      color: red;
      display: inline-block;
      padding: 0 10px;
      font: bold 52px/52px 'Exo 2', sans-serif;
    }
  }
  .section_content {
    height: 1050px;
    background: #000 url("../images/bg-content.png") no-repeat 50% 327px;
    //account
    .nameUserAccount {
      color: #fff;
      font: normal 24px/24px 'Exo 2', sans-serif;
    }
    .userMoney {
      color: #000;
      padding: 5px 10px;
      background: yellow;
      border-radius: 15px;
      display: inline-block;
      font: normal 24px/24px 'Exo 2', sans-serif;
      i {
        padding: 0 5px;
      }
    }
    .wrapPromoCode {
      margin: 0 auto;
      float: none;
    }
    .img_1 {
      position: static;
      width: 500px;
      margin: 0;
    }
    .listData {
      position: absolute;
      left: 382px;
      top: 63px;
      width: 350px;
      li {
        color: #fff;
        font: normal 22px/22px 'Exo 2', sans-serif;
        text-transform: uppercase;
        //margin: 20px 0;
        p {
          color: yellow;
          font: bold 44px/44px 'Exo 2', sans-serif;
        }
      }
    }
    //
  }
  .mt {
    margin: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .section_content {
    height: 845px;
    background: #000 url("../images/bg-content.png") no-repeat 50% 108px;
    //account
    .nameUserAccount {
      color: #fff;
      font: normal 24px/24px 'Exo 2', sans-serif;
    }
    .userMoney {
      color: #000;
      padding: 5px 10px;
      background: yellow;
      border-radius: 15px;
      display: inline-block;
      font: normal 24px/24px 'Exo 2', sans-serif;
      i {
        padding: 0 5px;
      }
    }
    .wrapPromoCode {
      margin: 0 auto;
      float: none;
    }
    .img_1 {
      float: left;
      position: static;
      width: 55%;
      margin: 0;
    }
    .listData {
      float: left;
      position: static;
      width: 45%;
      margin-top: 35px;
      padding: 0;
      li {
        font: normal 16px/16px 'Exo 2', sans-serif;
        margin: 0;
        p {
          color: yellow;
          font: bold 34px/34px 'Exo 2', sans-serif;
        }
      }
    }
    //
  }
}
@media only screen and (max-width : 568px) {
  .section_content {
    height: 700px;
    background: #000 url("../images/bg-content.png") no-repeat 50% -50px;
    //account
    .finish_action {
      margin: -30px auto 0;
      width: 310px;
      text-align: center;
      color: #fff;
      font: bold 20px/20px 'Exo 2', sans-serif;
      span {
        color: red;
        display: inline-block;
        padding: 0 10px;
        font: bold 36px/36px 'Exo 2', sans-serif;
      }
    }
    .img_1 {
      width: 55%;
    }
    .listData {
      width: 45%;
      li {
        font: normal 13px/13px 'Exo 2', sans-serif;
        p {
          font: bold 24px/24px 'Exo 2', sans-serif;
        }
      }
    }
    //
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .section_content {
    height: 670px;
    background: #000 url("../images/bg-content.png") no-repeat 50% 20px;
    //account
    .finish_action {
      width: 290px;
      margin: -30px auto 0;
      color: #fff;
      font: bold 18px/18px 'Exo 2', sans-serif;
      span {
        color: red;
        display: inline-block;
        padding: 0 10px;
        font: bold 34px/34px 'Exo 2', sans-serif;
      }
    }
    //
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 380px) {
  .section_content {
    height: auto;
    background: #000 url("../images/bg-content.png") no-repeat 50% 316px;
    //account
    .finish_action {
      width: 200px;
      margin: -20px auto 0;
      color: #fff;
      font: bold 13px/13px 'Exo 2', sans-serif;
      span {
        color: red;
        display: inline-block;
        padding: 0 5px;
        font: bold 22px/22px 'Exo 2', sans-serif;
      }
    }
    //
    .img_1 {
      width: 100%;
    }
    .listData {
      padding: 50px 0;
      width: 100%;
      margin-top: 0;
      li {
        font: normal 16px/16px 'Exo 2', sans-serif;
        margin: 0;
        p {
          color: yellow;
          font: bold 34px/34px 'Exo 2', sans-serif;
        }
      }
    }
    //
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  // body {
  //   background-color: grey;
  // }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1500px) {}
//main end
