.primary-block .box_vacancy-form{
	margin-top: 45px;
	padding: 30px 25px;
}
.box_vacancy-form .alert{
	margin: -30px -25px 30px;
	padding: 28px 25px;
	position: relative;
	background: #d5dadf;
}
.box_vacancy-form .close{
	position: absolute;
	top: 14px;
	right: 17px;
	cursor: pointer;
}
.box_vacancy-form .close img{
	display: block;
}
.box_vacancy-form .close img.hover{
	display: none;
}
.box_vacancy-form .close:hover img{
	display: none;
}
.box_vacancy-form .close:hover img.hover{
	display: block;
}
.box_vacancy-form .title{
	color: #505c66;
	font-size: 24px;
	line-height: 1.2;
}
.box_vacancy-form>fieldset {
	margin-top: 50px;
}
.box_vacancy-form>fieldset>legend{

}
.box_vacancy-form>fieldset>legend>span{
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}
.box_vacancy-form>fieldset>fieldset{

}
.box_vacancy-form>fieldset>fieldset>legend{

}
.box_vacancy-form>fieldset>fieldset>legend>span{
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
}
.box_vacancy-form .control-group{
	margin-bottom: 17px;
}
.box_vacancy-form .control-group .control-label{
	display: block;
	float: left;
	width: 260px;
	margin-top: 8px;
	font-size: 13px;
	line-height: 1.3;
}
.box_vacancy-form .control-group .controls{
	margin-left: 276px;
}
.box_vacancy-form .control-group .controls .chosen,
.box_vacancy-form .control-group .controls .textBox{
	display:block;
	width: 100%;
	padding: 7px 5px;
	border:1px solid #fff;
	border-top-color: #adb8c0;
	border-left-color: #adb8c0;
	border-radius: 3px;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.box_vacancy-form .control-group .controls .chosen{
}
.box_vacancy-form .control-group .controls .textBox {
	display:block;
	width: 100%;
	padding: 7px 5px;
	border:1px solid #fff;
	border-top-color: #adb8c0;
	border-left-color: #adb8c0;
	border-radius: 3px;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.box_vacancy-form .control-group .controls input:invalid:focus, textarea:invalid:focus{
	box-shadow: 0 0 3px rgba(255,0,0, 0.9);
}
.box_vacancy-form .control-group .controls .inline {
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	width: 80px;
}
.box_vacancy-form .control-group .controls .mdash {
	margin: 0 5px;
	position: relative;
	top: 7px;
}
.box_vacancy-form .control-group .controls .radio {
	margin-right: 24px;
}
.box_vacancy-form .control-group .controls .radio input {

}
.box_vacancy-form .control-group .controls .textBox.error {
	border-color: #ff2c2c;
}
.box_vacancy-form .control-group .controls div.error {
	color: #ff2c2c;
}
.box_vacancy-form .submit-buttons {
	margin-top: 45px;
}
.box_vacancy-form .submit-buttons .submit{
	cursor: pointer;
}

.box_city-list{
	overflow: hidden;
}
.box_city-list .col{
	float: left;
	width: 33%;
}
.box_city-list .col .list{
	margin: 35px 0 0;
	padding: 0 0 0 43px;
	position: relative;
	z-index: 0;
	font-size: 15px;
}
.box_city-list .col .list .word{
	width: 30px;
	padding: 1px 0 0;
	position: absolute;
	top: 0;
	left: 0;
	background: #485462;
	color: #fff;
	font-size: 16px;
	line-height: 1.1;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 4px;
	text-align: center;
}
.box_city-list .col .list .word.empty{
	background: #acb2b8;
}
.box_city-list .col .list ul{
	margin: 0;
}
.box_city-list .col .list ul li{
	margin: 5px 0;
	padding: 0;
	background: none;
	color: #acb2b8;
	font-style: italic;
}
.box_city-list .col .list ul li a{
	color: #485462;
}
.box_city-list .col .list ul li a:hover{
	color: #ff9b00;
}

.box_vacancy-list{

}
div.box_vacancy-list h2{
	font: 24px/1 Arial,Helvetica,Garuda,sans-serif;
}
div.box_vacancy-list p{
	margin: 20px 0;
}
.box_vacancy-list p a{
	color: #455660;
}
.box_vacancy-list p a:hover{
	color: #ff9b00;
}


.lt-ie8 .box_vacancy-form .control-group .controls .textBox{
	width: 97%;
}
.lt-ie8 .box_vacancy-form .control-group .controls .textBox.inline{
	width: 80px;
}
.lt-ie8 .box_vacancy-form .control-group .controls .chosen{
	height: 32px;
}
.lt-ie8 .primary-block p .link.empty{
	color: #485462;
}
.lt-ie8 .rocon{
	text-align: left !important;
}
.lt-ie8 #showVacancyForm,
.lt-ie8 #vacancy_experience_controls,
.lt-ie8 .box_vacancy-form .close{
	display: none;
}
