$icon-font-path: '../fonts/'; // bower:scss
 @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
 @import "bower_components/font-awesome/scss/font-awesome.scss";
 // endbower
@import "bower_components/font-awesome/scss/font-awesome.scss"; // @import "styles/account.scss";
// @import "styles/account.scss";
body {
  position: relative;
  background: #000;
  font-family:  $font-family-base;
  font-weight: 300;
}
button,
button:active,
button:focus {
  outline: none;
}
a,
a:active,
a:focus,
a:hover,
button,
button:hover {
  outline: 0 !important;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover {
  color: yellow;
  text-decoration: none;
}
//modal all
.modalForm {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.btnModal {
  display: block;
  border-radius: 25px;
  margin: 20px auto 0;
  font: normal 24px/24px $font-family-base;
  padding: 10px 0;
  max-width: 250px;
  width: 100%;
  background: yellow;
  text-transform: uppercase;
  color: #000;
}
// end
//new main page
// class
.error-class {
  color: red !important;
}
input.has-error {
  border: 2px solid #ff2c00;
  color: #000000;
  background-color: #f18080;
}
input.has-succes {
  border: 1px solid #1df500;
  color: #000000;
  background-color: #c8f3d4;
}
.has-error-block {
  background: #634646;
  border: 2px solid #c35151;
  color: #dde04c;
  font: normal 16px/16px $font-family-base;
  letter-spacing: 2px;
}
.has-succes-block {
  color: #000000;
  background-color: #c8f3d4;
  border: 1px solid #1df500;
  font: normal 16px/16px $font-family-base;
  letter-spacing: 2px;
}
//end
// header
header {
  width: 100%;
  background: url("../images/blue_line.png") no-repeat left -118px;
  height: 50px;
  position: relative;
  z-index: 1;

  .logo {
    margin: 10px 0 0;
    float: left;
    @media only screen and (min-width: 500px){
      position: absolute;
      left: 170px;
    }
  }

  .btn_top_menu {
    color: yellow;
    float: right;
    font-size: 26px;
    line-height: 26px;
    margin: 15px 10px 0;
    &:hover {
      text-decoration: none;
      color: #ccc;
    }
  }
  .active {
    color: red;
  }
  .container{
    height: 100%;
  }
  nav {
    float: right;
    height: 100%;
    ul {
      height: 100%;
      li {
        display: inline-block;
        margin-left: 30px;
        font-size: 18px;
        line-height: 18px;
        height: 100%;
        a {
          height: 100%;
          width: 100%;
          display: inline-block;
          padding: 17px 0;
          color: yellow;
          text-transform: uppercase;
          &:hover {
            text-decoration: none;
            color: #ccc;
          }
        }
      }
    }
  }
  nav .nav-top.mini_menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
    z-index: 100;
    background: #507588;
    padding: 0;
    margin: 0;
    height: initial;
    li {
      border-bottom: 1px solid #ccc;
      display: block;
      width: 100%;
      margin: 0;
      padding-left: 10px;
    }
  }
}
//header end
//section
.section_content {
  position: relative;
  min-height: 600px;
  max-height: 1200px;
  height: 100vh;
  padding-top: 50px;
  top: -50px;
  background: url(../images/bg-content_cropped_progr.png) no-repeat bottom, black;
  overflow: hidden;

  @media only screen and (max-height: 650px) {
    background-position: 50% 44px;
  }

}
.action-list{
  margin-top: 15px;
}
.mt {
  margin-top: 60px;
}
.imageCenterer {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: -55px;
  margin-left: -500px;
}
.btnRegistration-wrapper {
  margin-top: 10px;
  text-align: center;
  .btnRegistration {
    max-width: 100%;
    border-radius: 18px;
    box-shadow: #3d78d3 0px 0px 20px;
  }
}
.main_img_logo {
  max-width: 100%;
  /* padding: 0 30px; */
  margin: 0 auto;
  display: block;
  max-height: 24vh;
}
.finish_action {
  font-family: $font-family-base;
  text-align: right;
  color: #fff;
  line-height: 1em;
  font-size: 22px;
  .days_countdown {
    color: red;
    font-weight: bold;
    font-size: 230%;
    line-height: 0.9em;
  }
  >div{
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }

  @media only screen and (max-width : 992px) {
    text-align: center;
  }
}
.img_1 {
  max-width: 500px;
  max-height: 500px;
}
.media-left, .media-right, .media-body{
  vertical-align: middle!important;
}
.media {
  margin-top: 0;
  //margin-bottom: 10px;
  color: #fff;
  float: right;
  width: 34vmin;
  max-width: 310px;
  min-width: 185px;

  @media only screen and (max-width : 920px){
    width: 60vmin;
  }

  .number_desc {
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 110px;
    line-height: 0.9em;
    font-family: $font-family-base;

    @media only screen and (max-height : 920px), only screen and (max-width : 430px){
      font-size: 12vmin;
      width: 6.5vmin;
    }

  }
  .media-heading {
    margin-top: 0;
    //margin-bottom: 16px;
    font-family: $font-family-base;
  }
  ul.list-descr {
    font-weight: bold;
    font-family: $font-family-base;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    //font-size: 22px;
    font-size: 2.4vh;
    //}
    @media only screen and (max-width: 430px) {
      font-size: 4.5vw;
    }
    @media only screen and (min-height: 920px) {
      font-size: 22px;
    }

    li {
      &:nth-child(even) {
        color: yellow;
      }
    }
  }
}
.block_foto {
  position: relative;
  //float: right;
  margin-right: 0;
  background-color: transparent;
  border: none;
  // width: 235px;

.block_logo {
    //width: 100%;
    //max-width: 290px;
    margin-top: 30px;
    max-height: 26vh;
    /* float: right; */
    margin-right: 30px;
}
  .caption .desc {
    //position: absolute;
    //left: 0;
    //bottom: -67px;
    max-width: 170px;
    width: 20vh;
    //float: left;
  }
}
.content_header {
  padding-top: 20px;
  height: 100%;
  overflow: hidden;
}
.energizer-bg {
  background: url(../images/img_1.png) no-repeat 100px 220px;
  background-size: 450px;

  @media only screen and (max-width: 992px) {
    background-position: 0 270px;
    background-size: 50%;
  }

  @media only screen and (max-height: 920px) and (min-width: 992px) {
    background-size: 49vh;
    background-position-x: calc(70% - 44vh);
    background-position-y: 24vh;
  }
}
.timeline-row{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, black, transparent, transparent);
  margin-bottom: -1px;
  text-align: center;
  .timeLine {
    width: 100%;
    max-width: 1500px;
  }
}
//section end
footer {
  //position: relative;
  width: 100%;
  background: url("../images/footer_bg.png") center 5px no-repeat,url("../images/topShadow.png") top;
  .timeLine {
    width: 100%;
  }
  .content_footer {
    position: relative;
    margin: 30px auto 250px;
    width: 100%;
    max-width: 500px;
    p {
      color: #fff;
      font-size: 18px;
      line-height: 18px;
    }
    .f_nj {
      position: absolute;
      top: 80px;
      left: -261px;
      width: 100%;
      max-width: 276px;
    }
    .btn_play {
      position: absolute;
      top: 128px;
      left: -38px;
    }
    .social_link_footer {
      position: absolute;
      bottom: -103px;
      right: 53px;
      .fb {
        background: url("../images/fb-icon.png") no-repeat;
        background-size: cover;
      }
      .vk {
        background: url("../images/vk.png") no-repeat;
        background-size: cover;
      }
      .ok {
        background: url("../images/ok_icon.png") no-repeat;
        background-size: cover;
      }
      ul {
        padding: 0;
        li {
          display: inline-block;
          width: 40px;
          height: 40px;
          margin: 0 2px;
          a {
            display: block;
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}
.footer_line {
  position: relative;
  margin-top: 0;
  background: url("../images/black-background.png") no-repeat center -160px;
  padding: 25px 0;
  span {
    display: inline-block;
    font: normal 28px/28px $font-family-base;
    color: #fff;
  }
  p {
    font: bold 18px/18px $font-family-base;
    margin: 15px 0;
    padding: 0 10px;
  }
  .vk {
    background: url("../images/b_vk.png") no-repeat;
    background-size: cover;
  }
  .ok {
    background: url("../images/b_ok.png") no-repeat;
    background-size: cover;
  }
  .in {
    background: url("../images/b_in.png") no-repeat;
    background-size: cover;
  }
  .youtube {
    background: url("../images/b_youtube.png") no-repeat;
    background-size: cover;
  }
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      display: inline-block;
      width: 45px;
      height: 45px;
      margin: -11px 11px;
      a {
        display: block;
        width: 45px;
        height: 45px;
      }
    }
  }
}
//Registration Social
.modal-dialog {
  margin: 50px auto;
}
.modal-content {
  margin: 0 45px;
  padding: 40px;
  border-radius: 25px;
  position: relative;
  border: 3px solid yellow;
  background-color: #000;
  @media only screen and (max-width: 600px){
    zoom: 0.6;
  }
  .modal-input-form {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    label {
      font: bold 20px/20px $font-family-base;
      color: #fff;
      margin: 5px 0;
    }
    input {
      display: inline-block;
      max-width: 400px;
      margin: 10px 10px 5px;
      font-weight: bold;
      width: 100%;
    }
    .md-next {
      display: block;
      border-radius: 25px;
      margin: 20px auto;
      font: normal 24px/24px $font-family-base;
      padding: 10px 40px;
      background: yellow;
      text-transform: uppercase;
      color: #000;
    }
  }
  .header-group-modal {
    width: 100%;
    padding: 0 20px;
    .modal-h {
      font: bold 32px/32px $font-family-base;
      display: inline-block;
      margin: 20px 0;
      color: yellow;
      text-transform: uppercase;
    }
    .modal-h-reg {
      float: right;
    }
    .modal-h-input {
      float: left;
    }
  }
  .remove-modal {
    position: absolute;
    right: -42px;
    top: -40px;
    width: 70px;
    height: 70px;
    background: url("../images/closeicon.png");
  }
  p {
    text-align: center;
    font: 20px/20px $font-family-base;
    color: #fff;
    margin: 30px 0;
  }
  .modal-social-link {
    .md-fb {
      background: url("../images/md-fb.png");
    }
    .md-ok {
      background: url("../images/md-ok.png");
    }
    .md-mk {
      background: url("../images/md-mk.png");
    }
    .md-vk {
      background: url("../images/md-vk.png");
    }
    a {
      display: inline-block;
      width: 44px;
      height: 44px;
      margin: 10px;
    }
  }
}
//конец
//Регистрация
.modal-content .header-group-modal .modal-h.h-active {
  color: #fff;
}
.modal-registration-form {
  text-align: left;
  label {
    color: #fff;
    font: normal 13px/13px $font-family-base;
    padding: 0 10px;
    text-transform: uppercase;
  }
  .form-group {
    margin: 40px 0 0;
  }
  .md-next {
    display: block;
    border-radius: 25px;
    margin: 20px auto 0;
    font: normal 24px/24px $font-family-base;
    padding: 10px 40px;
    background: yellow;
    text-transform: uppercase;
    color: #000;
  }
  .registrationRules {
    text-transform: uppercase;
    display: inline;
    color: #fff;
    font: normal 14px/14px $font-family-base;
  }
}
//конец
// вход
.modalInput {
  label {
    display: block;
  }
  a {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
  }
}
//end
// вывод денег
.modal-logoPaymentSystem-form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  .md-next {
    display: block;
    border-radius: 25px;
    margin: 20px auto 10px;
    font: normal 24px/24px $font-family-base;
    padding: 10px 40px;
    background: yellow;
    text-transform: uppercase;
    color: #000;
  }
  a {
    font: normal 11px/11px $font-family-base;
    color: #fff;
  }
  h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: -23px;
  }
  .form-group {
    margin: 30px 0;
  }
}
.logPaymentSystem {
  width: 60%;
  padding: 50px;
}
//конец
//modal menu
.menu {
  .active {
    color: red;
  }
  text-align: center;
  ul {
    padding: 0;
    li {
      margin: 25px 0;
      width: 100%;
      list-style-type: none;
      a {
        color: yellow;
        font: bold 32px/32px $font-family-base;
        text-transform: uppercase;
      }
    }
  }
}
//
//moneyOut
.moneyOut {
  text-align: center;
  h3 {
    color: #fff;
    text-transform: uppercase;
  }
  h4 {
    color: #fff;
    font: bold 23px/23px $font-family-base;
    text-transform: uppercase;
  }
  img {
    width: 200px;
  }
  span {
    background: yellow;
    border-radius: 25px;
    padding: 10px 40px;
    font: bold 30px/30px $font-family-base;
    display: inline-block;
    margin: 20px 0;
  }
  ul {
    padding: 0;
    li {
      margin: 30px 0;
      width: 100%;
      list-style-type: none;
      a {
        color: yellow;
        font: bold 32px/32px $font-family-base;
        text-transform: uppercase;
      }
    }
  }
}
//end
//list code
.tablelist {
  .chargesMoney {
    color: yellow;
  }
  .removalMoney {
    color: red;
  }
  td {
    width: 20%;
    vertical-align: top;
    padding: 3% 4%;
    &:nth-child(3n) {
      width: 40%;
    }
  }
  font: normal 22px/22px $font-family-base;
  text-align: left;
  color: #fff;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
//end
//MODAL QUESTION
.modalQuestion {
  .h-active {
    color: #fff;
  }
  .modal-content .modal-input-form label {
    margin: 5px 0;
    color: #fff;
    font: normal 15px/15px $font-family-base;
    padding: 0 10px;
    text-transform: uppercase;
    display: inline-block;
  }
  .form-group {
    margin: 30px 0;
  }
}
//end
//MODAL FAQ
.modalFAQ {
  .modal-content {
    text-align: left;
    p {
      text-align: left;
    }
    ul {
      li {
        list-style-type: none;
        a {
          font: 16px/16px $font-family-base;
          color: #fff;
          padding: 5px 0;
          display: inline-block;
          text-decoration: underline;
        }
        p {
          font: 14px/14px $font-family-base;
          color: yellow;
          margin: 10px 0;
        }
      }
    }
  }
  .h-active {
    color: #fff;
  }
}
//end
//profile
.profile {
  .hideInput {
    background: transparent;
    color: #fff;
    border: none;
  }
  .wrap {
    .md-next {
      display: block;
      border-radius: 25px;
      margin: 20px auto 10px;
      font: normal 24px/24px $font-family-base;
      padding: 10px 40px;
      background: yellow;
      text-transform: uppercase;
      color: #000;
    }
    max-width: 450px;
    margin: 0 auto;
    .form-group {
      margin: 15px 0;
    }
    h3 {
      text-align: left;
      color: #fff;
    }
  }
}
//end
// Forgot password
.forgotPassword {
  .md-next {
    display: block;
    border-radius: 25px;
    margin: 20px auto 10px;
    font: normal 24px/24px $font-family-base;
    padding: 10px 40px;
    background: yellow;
    text-transform: uppercase;
    color: #000;
    white-space: normal;
  }
  label {
    display: block;
  }
}
//end
//inviteFriends
.modal-inviteFriends-form {
  .md-next {
    display: block;
    border-radius: 25px;
    margin: 20px auto 10px;
    font: normal 24px/24px $font-family-base;
    padding: 10px 40px;
    background: yellow;
    text-transform: uppercase;
    color: #000;
    white-space: normal;
  }
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  label {
    font: bold 20px/20px $font-family-base;
    color: #fff;
    margin: 5px 0;
  }
  input {
    display: inline-block;
    max-width: 400px;
    margin: 10px 10px 5px;
    font-weight: bold;
    width: 100%;
  }
}
//end
//smsConfirmation
.smsConfirmation {
  input {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
  }
}
//end
//sendCode
.sendCode {
  input {
    margin: 15px auto;
    width: 100%;
    max-width: 250px;
  }
  h3 {
    color: #fff;
  }
  p {
    font: normal 18px/18px $font-family-base;
  }
  a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    font: normal 22px/22px $font-family-base;
  }
}
