@import "boxes.scss";
.headerSlider {
  h3 {
    color: yellow;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.sliderDescr {
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.pseudolink {
  text-decoration: none;
  border-bottom: 1px dashed;
  cursor: pointer;
}
.pseudolink:hover {
  color: #ff9b00;
}
.secondary-block {
  min-height: 1px;
  float: right;
  width: 230px;
  margin: 0 0 0 100px;
  /*background: none repeat scroll 0 0 #EBEBEB;
    border-radius:0 0 30px 30px;*/
}
.secondary-block.ierc {
  background: none repeat scroll 0 0 #EBEBEB !important;
  border-radius: 0 0 30px 30px !important;
}
.secondary-block.iercw {
  background: none repeat scroll 0 0 #ffffff !important;
  border-radius: 0 0 30px 30px !important;
}
.primary-block {
  overflow: hidden;
  font-family: Arial,Helvetica,Garuda,sans-serif;
}
.our-mission {
  min-width: 999px;
  padding: 11px 0;
  background: url("/images/b/sky-line.jpg") 50% 0 no-repeat;
  color: #fff;
  font-size: 18px;
  line-height: 115%;
  font-family: PFCentroSansPro-Light, Arial,Helvetica,Garuda,sans-serif;
}
.our-mission b {
  font-family: PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
.secondary-block .menu {
  margin: 0;
  padding: 25px 0 30px;
  position: relative;
  z-index: 10;
  background: #485462;
  border-radius: 0 0 30px 30px;
}
.secondary-block .menu li a:hover {
  color: #fff;
}
.secondary-block .menu li.open {
  /*margin: 5px 0 20px;*/
}
.secondary-block .menu li {
  list-style: none;
}
.secondary-block .menu li .first-level {
  display: block;
  padding: 7px 10px 7px 20px;
  font-size: 16px;
  line-height: 90%;
  font-family: PFCentroSansPro-Medium,Arial,Helvetica,Garuda,sans-serif;
  color: #ffffff;
}
.secondary-block .menu li a.first-level:hover {
  color: #FF9B00;
}
.secondary-block .menu li.open a.first-level:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.secondary-block .menu li.open .first-level {
  background: #ff9b00;
  text-decoration: none;
}
.secondary-block .menu ul {
  margin: 0;
  padding: 12px 10px 12px 36px;
  background: #55616e;
}
.secondary-block .menu ul li {
  padding: 5px 0;
  color: #ff9b00;
  list-style: disc;
  font-size: 14px;
  line-height: 100%;
}
.secondary-block .menu ul li b {
  font-family: PFCentroSansPro-Bold, Arial,Helvetica,Garuda,sans-serif;
  font-weight: normal;
}
.secondary-block .menu .list {
  padding: 15px 10px 23px 30px;
  background: #55616e;
  color: #ff9b00;
  font: italic 14px/115% Arial,Helvetica,Garuda,sans-serif;
}
.secondary-block .menu .list span {
  color: #fff;
}
.secondary-block .menu .news {
  padding: 5px 10px 12px 36px;
}
.secondary-block .menu .news li {
  padding: 2px 0;
  color: #fff;
  font: 12px Arial, sans-serif;
  list-style: none;
}
.container div.secondary-block .title {
  font-size: 18px;
  line-height: 105%;
}
.secondary-block .title {
  font-family: PFCentroSansPro-Bold, Arial,Helvetica,Garuda,sans-serif;
}
.news-preview {
  margin-top: -50px;
  padding: 40px 18px 30px;
  overflow: hidden;
  background: #ebebeb;
  border-radius: 0 0 30px 30px;
}
.news-preview .title {
  margin: 30px 0 0;
  font-family: PFCentroSansPro-Bold, Arial,Helvetica,Garuda,sans-serif;
  font-size: 18px;
}
.news-preview .subtitle {
  margin: 3px 0;
  color: #455660;
  font-size: 14px;
  line-height: 115%;
}
.news-preview .subtitle a {
  color: #455660;
}
.news-preview .subtitle a:hover {
  color: #06e;
}
.news-preview p {
  margin: 12px 0;
  color: #455660;
  font: italic 12px Arial;
}
.breadrcrumbs {
  margin: 30px 0 0;
  color: #485462;
  font: 13px PFCentroSansPro-Italic, Arial,Helvetica,Garuda,sans-serif;
}
.breadrcrumbs a {
  color: #485462;
}
.breadrcrumbs a:hover {
  color: #06e;
}
h1,
h2,
h3 {
  color: #455660;
  font-family: PFCentroSansPro-Bold, Arial,Helvetica,Garuda,sans-serif;
  line-height: 100%;
}
.primary-block h1 {
  margin: 5px 0 30px;
  font-size: 32px;
}
.primary-block h2 {
  margin: 40px 0 15px;
  font-size: 28px;
  font-family: PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
}
.primary-block h3 {
  margin: 48px 0 15px;
  font-family: PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
  font-size: 24px;
}
.primary-block p {
  margin: 15px 0;
  font-size: 15px;
}
.primary-block .conpic {
  float: left;
  margin: 5px 20px 20px 0;
  border: 1px solid #828282;
  border-radius: 5px;
}
.primary-block .central-pic {
  display: block;
  margin: 15px auto;
}
.primary-block .brand-pic {
  float: left;
  margin: 0 14px 10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0 #979797;
}
.primary-block blockquote {
  margin: 15px 0;
  padding: 17px 30px;
  background-color: #efefef;
  border-radius: 30px;
  font-size: 14px;
  font-style: italic;
  line-height: 125%;
}
.two-cols {
  margin: 12px 0;
  overflow: hidden;
}
.two-cols .col:first-child {
  margin-right: 6%;
}
.two-cols .col {
  float: left;
  width: 47%;
}
.primary-block li {
  padding: 8px 0 8px 29px;
  font-size: 14px;
  line-height: 125%;
  font-style: italic;
}
.primary-block ul {
  margin: 7px 0;
  padding: 0;
  list-style: none;
}
.primary-block ul li {
  background: url("http://sns.ru/images/front-end/list-marker.png") 0 12px no-repeat;
}
.primary-block ol {
  margin: 7px 0;
  padding: 0;
  counter-reset: chapter 0;
  list-style: none;
}
.primary-block ol li:before {
  display: block;
  float: left;
  min-width: 25px;
  margin: 0 0 0 -25px;
  content: counter(chapter, decimal) ". ";
  font: italic 18px/100% PFCentroSansPro-Black, Arial,Helvetica,Garuda,sans-serif;
}
.primary-block ol li {
  padding-left: 25px;
  counter-increment: chapter;
}
.primary-block table.contable {
  width: 100%;
  margin: 30px 0;
  background-color: #efefef;
  border-radius: 3px;
}
.primary-block table.contable .center {
  text-align: center;
}
.primary-block table.contable tr:nth-child(even) td {
  background-color: #d5dadf;
  border-left-color: #c2ccd3;
}
.primary-block table.contable th {
  color: #919ba3;
  padding: 12px 40px;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}
.primary-block table.contable tr td:first-child {
  border: none;
}
.primary-block table.contable td {
  padding: 5px 20px;
  color: #262f37;
  font-size: 14px;
  border-left: 2px solid #e3e3e3;
}
.primary-block form {
  margin: 15px 0;
  padding: 0 32px 20px;
  overflow: hidden;
  background-color: #efefef;
  border-radius: 5px;
}
.primary-block form .field {
  padding: 11px 12px 14px 0;
  font-size: 13px;
}
.primary-block form .field input,
.primary-block form .field textarea {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  padding: 5px;
  border-radius: 3px;
  border-width: 1px;
}
.primary-block form .field textarea {
  height: 90px;
}
.primary-block form .field.error {
  padding-bottom: 11px;
}
.primary-block form .field.error input,
.primary-block form .field.error textarea {
  margin-top: 4px;
  border: 4px solid #ff9c01;
  color: #ff9c01;
}
.primary-block form .fields {
  margin: 0 -32px;
  padding: 0 32px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background-color: #d5dadf;
}
.primary-block form .fields .field:first-child {
  float: left;
}
.primary-block form .fields .field {
  float: right;
  width: 45%;
}
.primary-block form .submit {
  display: inline-block;
  padding: 9px 22px;
  background: none repeat scroll 0 0 #FF9B00;
  border: medium none;
  border-radius: 20px 20px 20px 20px;
  color: #FFFFFF;
  font: 18px/100% PFCentroSansPro-Bold, Arial,Helvetica,Garuda,sans-serif;
  text-transform: uppercase;
}
.primary-block form .submit:hover {
  box-shadow: 0 0 3px #00A1CB;
}
.primary-block p .link {
  display: inline-block;
  padding: 5px 32px 7px;
  background-color: #ff9b00;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  font-style: italic;
  font-size: 17px;
}
.primary-block p .link:hover {
  color: #455660;
}
.primary-block p .link.block {
  display: block;
  margin: 45px 0;
}
.primary-block p .link.empty {
  color: inherit;
  border: 1px solid #485462;
  background: #fff;
}
.address-cols {
  margin: 34px 0;
  overflow: hidden;
}
.address-cols .col:first-child {
  margin-right: 4%;
}
.address-cols .col {
  float: left;
  width: 48%;
}
.address-cols .title {
  margin: 0 0 8px;
  color: #748088;
  font: 18px/100% PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
}
.address-cols .mail {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 18px 7px;
  background: none repeat scroll 0 0 #FF9C01;
  border-radius: 18px 18px 18px 18px;
  color: #FFFFFF;
  font-size: 14px;
}
.address-cols .phone {
  font-size: 18px;
  line-height: 130%;
}
.address-cols .phone b {
  display: block;
  font-size: 18px;
}
.ya-map {
  height: 294px;
  overflow: hidden;
  border-bottom: 1px solid #828282;
  -moz-border-radius: 10px;
  position: relative;
}
.big-map-container {
  width: 100%;
  max-width: 998px;
  height: 566px;
  position: relative;
  background: url("..http://sns.ru/images/front-end/maps/big-map.png") 0 0 no-repeat;
  background-size: 100% auto;
}
.big-map-container img {
  width: 93.6%;
  left: 6.45%;
  position: relative;
}
.big-map-container map area {
  outline: none;
}
.big-map-container * {
  outline: none !important;
  border: none !important;
}
.big-map-container map area:focus {
  outline: none;
  border: 0;
}
.big-map-container .your-location {
  position: absolute;
  z-index: 0;
  font-size: 15px;
  text-indent: 20px;
}
.big-map-container .your-location .city {
  display: inline-block;
  margin: 5px 0 0;
  padding: 23px 64px 23px 20px;
  background: url("http://sns.ru/images/front-end/buttons-active.png") 100% -1px no-repeat;
  border-radius: 50px 0 0 50px;
  color: #FFFFFF;
  font: 24px/100% PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
  text-indent: 0;
  white-space: nowrap;
  text-decoration: none;
}
.big-map-container .your-location .city:hover {
  text-decoration: underline;
}
.big-map-container .your-location .city b {
  font-weight: normal;
  text-transform: uppercase;
}
.big-map-container .your-location .active-tile {
  display: block;
  width: 934px;
  height: 566px;
  position: relative;
  z-index: 10;
}
.map-description {
  overflow: hidden;
}
.map-description .regions {
  width: 40%;
  float: left;
  margin: 0 55px 0 0;
  padding: 13px 15px;
  position: relative;
  z-index: 10;
  background-color: #f0f1f2;
  border-radius: 15px;
}
.map-description .regions .reg {
  display: block;
  float: left;
  padding: 0 5px;
  position: relative;
  z-index: 1;
  color: #455660;
  cursor: pointer;
  font: 24px/120% PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
  white-space: nowrap;
}
.map-description .regions span.active {
  background-color: #ff9e08;
  color: #fff;
  border-radius: 13px;
}
.map-description .regions .tail {
  width: 48px;
  height: 52px;
  margin: -28px 0 0;
  position: absolute;
  top: 50%;
  right: -17px;
  background: url("http://sns.ru/images/front-end/gray-tail.png") 0 0 no-repeat;
}
.map-description .select-city.active {
  display: block;
  right: 0;
  opacity: 1;
  -moz-opacity: 1;
  filter:none;
}
.map-description .select-city {
  display: none;
  overflow: hidden;
  position: relative;
  right: 100%;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}
.map-description .select-city ul:first-child {
  margin-right: 6%;
}
.map-description .select-city ul {
  float: left;
  max-width: 47%;
  margin: 0;
}
.map-description .select-city ul li:hover {
  color: #ff9e08;
}
.map-description .select-city ul li {
  margin: 0 0 0 15px;
  padding: 3px 0;
  background: none;
  font-size: 14px;
  list-style: disc outside none;
}
.map-description .select-city ul li a {
  padding: 1px 5px;
  color: #455660;
  text-decoration: none;
  white-space: nowrap;
}
.map-description .select-city ul li a:hover {
  background-color: #ff9e08;
  border-radius: 7px;
  color: #fff;
}
.events-list {
  margin: 35px 0 19px;
}
.events-list .item {
  margin: 0 0 14px;
  overflow: hidden;
}
.events-list .item img {
  margin-right: 10px;
}
.events-list .item .date {
  font: 14px/120% PFCentroSansPro-Italic, Arial,Helvetica,Garuda,sans-serif;
}
.events-list .item .title {
  font: 22px/100% PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
}
.events-list .item .coincidence {
  padding: 3px;
  background-color: #ff9b00;
  color: #fff;
}
a.more-events.search {
  width: 292px;
}
a.more-events {
  display: block;
  width: 230px;
  margin: 0 auto 11px;
  padding: 9px 0;
  position: relative;
  background-color: #ff9b00;
  color: #fff;
  cursor: pointer;
  font: 14px/120% PFCentroSansPro-Italic, Arial,Helvetica,Garuda,sans-serif;
  text-align: center;
  border-radius: 18px;
  text-decoration: none;
}
.more-events .tail {
  display: block;
  width: 76px;
  height: 11px;
  margin-left: -38px;
  position: absolute;
  left: 50%;
  top: 100%;
  background: url("http://sns.ru/images/front-end/events-tail.png") 0 0 no-repeat;
}
.secondary-form {
  height: 585px;
  padding: 0 18px;
  overflow: hidden;
  background: #485462;
  border-radius: 0 0 30px 30px !important;
  font-family: Arial, sans-serif;
}
.secondary-form .title {
  height: 38px;
  margin: 22px 0 15px;
  color: #fff;
}
.secondary-form .rocon {
  z-index: 99;
}
.secondary-form .city {
  margin: 0 -18px;
  padding: 7px 18px;
  background-color: #ff9c01;
  font-size: 12px;
  font-style: italic;
  position: relative;
  z-index: 99;
}
.secondary-form .city .current-city {
  position: relative;
  z-index: 10;
  white-space: nowrap;
}
.secondary-form .city .pseudolink {
  color: #fff;
  font-size: 14px;
  border-bottom: 1px dashed #FFFFFF;
  cursor: pointer;
}
.city .scroll-city {
  visibility: hidden;
  width: 189px;
  height: 510px;
  padding: 0 23px 0 18px;
  top: 0;
  left: 0;
  z-index: 9;
  -moz-border-radius: 0 0 30px 30px;
  -webkit-border-radius: 0 0 30px 30px;
  border-radius: 0 0 30px 30px;
}
.city .scroll-city .close {
  background-image: url("http://sns.ru/images/front-end/scroll-close-carrier.png");
  height: 26px;
  right: 11px;
  top: -26px;
  width: 34px;
}
.city .scroll-city .scroller-list {
  height: 460px;
  margin: 35px 0 0;
  background-image: url("http://sns.ru/images/front-end/scroll-line-carrier.png");
}
.city .scroll-city label {
  display: block;
  position: relative;
  z-index: 999;
  padding: 2px 0;
  font-family: Arial,Verdana,Geneva,Kalimati,sans-serif;
  font-style: italic;
  color: #FFFFFF;
  text-decoration: none;
}
.city .scroll-city label input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}
.secondary-form .city {
  margin: 0 -18px;
  padding: 7px 18px;
  background-color: #ff9c01;
  font-size: 12px;
  font-style: italic;
}
.secondary-form .city a {
  color: #fff;
  font-size: 14px;
}
.secondary-form .field {
  margin: 15px 0 0;
  color: #fff;
  font-size: 13px;
  line-height: 120%;
  font-style: italic;
}
.secondary-form .field input,
.secondary-form .field textarea {
  display: block;
  width: 180px;
  margin: 5px 0 0;
  padding: 5px;
  border: 1px solid #ACB7BF;
  border-radius: 2px 2px 2px 2px;
}
.secondary-form .field textarea {
  height: 130px;
}
.secondary-form .field.error input,
.secondary-form .field.error textarea {
  border: 2px solid #DD562C;
  color: #DD562C;
}
.secondary-form .filebox {
  margin: 5px 0 0;
  position: relative;
}
.secondary-form .filebox .text {
  display: block;
  float: left;
  width: 130px;
  min-height: 16px;
  margin: 0 12px 0 0;
  padding: 5px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ACB7BF;
  border-radius: 2px 2px 2px 2px;
  color: #485462;
  font-style: normal;
}
.secondary-form .filebox .file {
  width: 192px;
  height: 28px;
  position: absolute;
  top: 3px;
  left: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.secondary-form .submit {
  display: block;
  margin-top: 15px;
  padding: 9px 22px;
  background: #ff9b00;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.secondary-form .submit:hover {
  box-shadow: 0 0 3px #00A1CB;
}
.products-carusel {
  margin-bottom: 44px;
  position: relative;
  z-index: 0;
}
.products-carusel .jcarousel-container {}
.products-carusel .jcarousel-clip:before {
  width: 38px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  content: " ";
}
.products-carusel .jcarousel-clip:after {
  width: 38px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  content: " ";
}
.products-carusel .jcarousel-clip {
  padding: 0 37px 0 0;
  overflow: hidden;
}
.products-carusel .jcarousel-next,
.products-carusel .jcarousel-prev {
  width: 41px;
  height: 41px;
  background: url("../images/buttons-carusel.png") 0 -43px no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  z-index: 100;
  cursor: pointer;
}
.products-carusel .jcarousel-prev {
  left: -15px;
}
.products-carusel .jcarousel-next {
  right: -15px;
  background-position: 15px -1px;
}
.products-carusel ul {}
.products-carusel ul li {
  float: left;
  padding: 0;
  position: relative;
  background: none;
}

.products-carusel img {
  display: block;
  margin: 20px auto 0;
  max-width: 100%;
  position: relative;
  z-index: 1;
  border: none !important;
  outline: none !important;
}
.products-carusel img.hidden {
  display: block;
  width: 0;
  height: 0;
}
.products-carusel .description-overlay,
.products-carusel ul {
  visibility: hidden;
}
.products-carusel.done .description-overlay,
.products-carusel.done ul {
  visibility: visible;
}
.primary-block div.products-carusel {
  background: url("http://sns.ru/images/front-end/ajax-loader.gif") 50% 50% no-repeat;
}
.products-carusel.two-elements #active-slide-element {}
.products-carusel.two-elements #active-slide-element img {
  left: -50%;
  position: relative;
}


.products-carusel.lighters ul {
  height: 260px;
}

.products-carusel.lighters #active-slide-element img {
  margin-top: 0;
}


.products-carusel.noShadow.done {}
.products-carusel.noShadow ul {
  height: 260px;
}

.products-carusel.noShadow #active-slide-element img {
  margin-top: 0;
}

.products-carusel.cigarettes ul {
  height: 350px;
  width: 300px;
}


.products-carusel.cigarettes #active-slide-element img {
  margin-top: 0;
}

.products-carusel .description-overlay {
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}
.products-carusel .description {
  display: inline-block;
  text-align: left;
}
.products-carusel .description .name {
  color: #455660;
  font: 12px/100% PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
}
.products-carusel b {
  display: block;
  margin: -2px 0 0;
  font: 32px/100% PFCentroSansPro-Bold, Arial,Helvetica,Garuda,sans-serif;
}
.products-carusel em {
  margin: 7px 0 0;
  display: inline-block;
  background-color: #a4acb6;
  border-radius: 5px;
  color: #fff;
  font: 10px/100% PFCentroSansPro-Medium, Arial,Helvetica,Garuda,sans-serif;
  text-transform: uppercase;
}
.products-carusel em span {
  display: none;
  margin: 5px 10px;
}
ul.playlist li {
  padding: 0;
  position: relative;
  background: none;
}
ul.playlist a {
  background-image: url("http://sns.ru/images/front-end/pp-control.png");
  background-position: 0 -25px;
  background-repeat: no-repeat;
  color: #485462;
  display: block;
  font-size: 12px;
  line-height: 100%;
  height: 25px;
  margin-bottom: 20px;
  outline: medium none;
  padding: 0 0 0 40px;
  text-decoration: none;
}
ul.playlist a em {
  color: #ACB4BC;
  display: block;
  margin-top: 2px;
}
ul.playlist .sm2_playing a {
  background-position: 0 0;
}
ul.playlist .statusbar {
  border-left: 1px solid #455660;
  border-right: 1px solid #455660;
  cursor: pointer;
  padding: 1px 0;
  position: relative;
  width: 136px;
}
ul.playlist .statusbar .loading {
  background: none repeat scroll 0 0 #455660;
  height: 1px;
}
ul.playlist .statusbar .position {
  background: none repeat scroll 0 0 #ff9b00;
  height: 1px;
  left: 0;
  position: absolute;
  top: 1px;
}
ul.playlist .timing {
  bottom: -7px;
  color: #89898B;
  font-size: 10px;
  font-style: italic;
  left: 142px;
  position: absolute;
}
#sm2-container {
  height: 0;
  overflow: hidden;
}
.jcarousel-list {
  height: auto;
}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 660px) {
  .products-carusel.cigarettes ul {
    height: 265px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 520px) {
  .products-carusel.cigarettes ul {
    height: 206px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .products-carusel {
    height: 180px;
  }
  .products-carusel.cigarettes ul {
    height: 180px;
}
  .jcarousel-next,
  .jcarousel-prev {
    margin-top: -49px;
  }
}
