.rules font{
  font-family: 'Exo 2', sans-serif;
}
.img_1_rules {
  position: absolute;
  top: 104px;
  left: -30px;
  width: 450px;
}
.finish_action_rules {
  text-align: center;
  position: relative;
  color: #fff;
  font: bold 22px/22px Arial;
  top: -5px;
  left: 34px;
  span {
    color: red;
    font: bold 64px/64px Arial;
  }
}
.wrapList {
  height: 600px;
  div,
  p,
  span {
    color: #fff;
  }
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: yellow;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #ccc;
}
@page {
  size: 8.5in 11in;
  margin: 1in 1.25in;
}
P {
  margin-bottom: 0.08in;
}
A:link {
  so-language: zxx;
}
.header_rules_size {
  font: normal 16px/16px Arial;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
  .wrapList {
    height: 520px;
    div,
    p,
    span {
      color: #fff;
    }
  }
  .finish_action_rules {
    font: bold 18px/18px Arial;
    left: 71px;
    span {
      font: bold 54px/54px Arial;
    }
  }
  .img_1_rules {
    top: 77px;
    left: 49px;
    width: 360px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .wrapList {
    height: 480px;
    div,
    p,
    span {
      color: #fff;
    }
  }
  .btnRegistration {
    max-width: 295px;
    margin: -56px -13px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .wrapList {
    height: 720px;
    div,
    p,
    span {
      color: #fff;
    }
  }
  .img_1_rules {
    width: 380px;
    top: 105px;
    left: -42px;
  }
  .finish_action_rules {
    position: static;
    color: #fff;
    font: bold 18px/18px Arial;
    margin: 0 auto 180px;
    width: 100%;
    max-width: 260px;
    span {
      color: red;
      margin: 0 10px;
      font: bold 35px/35px Arial;
    }
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .finish_action_rules {
    text-align: center;
    margin: 10px auto;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .header_rules_size {
    font: normal 13px/13px Arial;
  }
  .wrapList {
    height: 480px;
    div,
    p,
    span {
      color: #fff;
    }
  }
  .finish_action_rules {
    display: inline-block;
    margin: -25px auto -10px;
    width: 237px;
    font-size: 15px;
    line-height: 15px;
    span {
      color: red;
      font: bold 36px/36px Arial;
    }
  }
}
