<body>
  <div class="products-carusel cigarettes">
    <ul>
      <li>
        <div class="shadow"></div>
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/105/KS_white_R.png?1361792580118461" class="hidden" />
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/941/KS_white_F.png?136179258279542" class="hidden" />
        <img class="front" src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/1e4/KS_white_L.png?1361792600120604" srcL="/upload/iblock/1e4/KS_white_L.png" srcR="/upload/iblock/105/KS_white_R.png" srcC="/upload/iblock/941/KS_white_F.png" alt="Dunhill" title="Блонд Бленд"
            type="1 мг смолы, 0,1 мг никотина, 2 мг СО" />
      </li>
      <li>
        <div class="shadow"></div>
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/e11/black_pack_R.png?1361792599109983" class="hidden" />
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/a02/black_pack_F.png?136179256489537" class="hidden" />
        <img class="front" src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/6b1/black_pack_L.png?1361792564114201" srcL="/upload/iblock/6b1/black_pack_L.png" srcR="/upload/iblock/e11/black_pack_R.png" srcC="/upload/iblock/a02/black_pack_F.png" alt="Dunhill"
            title="Fine Cut Свисс Бленд" type="10 мг смолы, 0,9 мг никотина, 10 мг СО" />
      </li>
      <li>
        <div class="shadow"></div>
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/555/blue_pack_R.png?1361792567132567" class="hidden" />
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/229/blue_pack_F.png?136179256896382" class="hidden" />
        <img class="front" src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/f63/blue_pack_L.png?1361792568134692" srcL="/upload/iblock/f63/blue_pack_L.png" srcR="/upload/iblock/555/blue_pack_R.png" srcC="/upload/iblock/229/blue_pack_F.png" alt="Dunhill"
            title="Fine Cut Мастер Бленд" type="6 мг смолы, 0,6 мг никотина, 7 мг СО" />
      </li>
      <li>
        <div class="shadow"></div>
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/f89/light_blue_pack_R.png?1361792584136237" class="hidden" />
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/d6c/light_blue_pack_F.png?136179256590986" class="hidden" />
        <img class="front" src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/0b0/light_blue_pack_L.png?1361792586135912" srcL="/upload/iblock/0b0/light_blue_pack_L.png" srcR="/upload/iblock/f89/light_blue_pack_R.png" srcC="/upload/iblock/d6c/light_blue_pack_F.png"
            alt="Dunhill" title="Fine Cut Мастер Бленд Блю" type="4 мг смолы, 0,4 мг никотина, 4 мг СО" />
      </li>
      <li>
        <div class="shadow"></div>
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/ee2/white_pack_R.png?1361792563118756" class="hidden" />
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/2c5/white_pack_F.png?136179258592229" class="hidden" />
        <img class="front" src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/9f1/whit_pack_L.png?1361792580145054" srcL="/upload/iblock/9f1/whit_pack_L.png" srcR="/upload/iblock/ee2/white_pack_R.png" srcC="/upload/iblock/2c5/white_pack_F.png" alt="Dunhill"
            title="Fine Cut Блонд Бленд" type="1 мг смолы, 0,1 мг никотина, 1 мг СО" />
      </li>
      <li>
        <div class="shadow"></div>
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/614/KS_red_R.png?1361792553120625" class="hidden" />
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/c02/KS_red_F.png?1361792564102246" class="hidden" />
        <img class="front" src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/aee/KS_red_L.png?1361792586128221" srcL="/upload/iblock/aee/KS_red_L.png" srcR="/upload/iblock/614/KS_red_R.png" srcC="/upload/iblock/c02/KS_red_F.png" alt="Dunhill" title="Maстер Бленд Ред"
            type="10 мг смолы, 0,8 мг никотина, 10 мг СО" />
      </li>
      <li>
        <div class="shadow"></div>
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/d74/KS_blue_R.png?1361792582117548" class="hidden" />
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/69f/KS_blue_F.png?136179255289841" class="hidden" />
        <img class="front" src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/d15/KS_blue_L.png?1361792568121576" srcL="/upload/iblock/d15/KS_blue_L.png" srcR="/upload/iblock/d74/KS_blue_R.png" srcC="/upload/iblock/69f/KS_blue_F.png" alt="Dunhill" title="Maстер Бленд Блю"
            type="6 мг смолы, 0,6 мг никотина,  6 мг СО" />
      </li>
      <li>
        <div class="shadow"></div>
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/aa8/KS_gold_R.png?1361792586129421" class="hidden" />
        <img src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/d42/KS_gold_F.png?136179256489013" class="hidden" />
        <img class="front" src="http://sns.ru.images.1c-bitrix-cdn.ru/upload/iblock/d68/KS_gold_L.png?1361792598134285" srcL="/upload/iblock/d68/KS_gold_L.png" srcR="/upload/iblock/aa8/KS_gold_R.png" srcC="/upload/iblock/d42/KS_gold_F.png" alt="Dunhill" title="Maстер Бленд Голд"
            type="4 мг смолы, 0,4 мг никотина, 5 мг СО" />
      </li>
    </ul>

    <div class="description-overlay">
      <div class="description">
        <span class="name"><span>Сигареты</span> <b>Название марки</b></span>
        <em><span></span></em>
      </div>
    </div>
